$color-primary: #038483;
$color-primary-opacity-1: rgba(3, 132, 131, 0.5);
$color-primary-opacity-2: rgba(3, 132, 131, 0.3);
$color-secondary: #24333d;
$color-primary-bg: #121117;
$color-secondary-bg: #e3e7df;
$color-header-bg: #21333e;
$color-text-1: #c0c3d0;